body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 25px;
    background-color: white;
    color: black;
    line-height: 1.6;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}
.content {
    max-width: 300px;
    min-width: 100px;
    margin: 0 auto;
    width: 100%;
}
.image {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
}
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 14px;
}
.button {
    display: block;
    width: 200px;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #df4114;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #c73a10;
}
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
.card p {
    text-align: left;
    color: #555;
    margin-bottom: 5px;
}
.card .quote {
    font-size: 16px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    color: #777;
    text-align: left;
    max-width: 90%;
}